*{
    box-sizing: border-box;
    font-family:sans-serif;
    text-transform:capitalize;
}
.task-1 .grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: 1fr 6fr;
    column-gap: 10px;
    row-gap: 10px;
  }
  .task-1 .grid div{
    background-color: #607D8B;
    counter-increment: div-num;
    position: relative;
  }
  .task-1 .grid .one::after{
    content: "Element 1";
    color: white;
    font-weight: bold;
    position: absolute;
    left: 36%;
    top: 30%;
  }
  .task-1 .grid .two::after{
    content: "Element 2";
    color: white;
    font-weight: bold;
    position: absolute;
    left: 36%;
    top: 30%;
  }
  .task-1 .grid .three::after{
    content: "Element 3";
    color: white;
    font-weight: bold;
    position: absolute;
    left: 36%;
    top: 30%;
  }
  .task-1 .grid .four::after{
    content: "Element 4";
    color: white;
    font-weight: bold;
    position: absolute;
    left: 36%;
    top: 45%;
  }
  .task-1 .grid .five::after{
    content: "Element 5";
    color: white;
    font-weight: bold;
    position: absolute;
    left: 36%;
    top: 45%;
  }
  .task-1 .grid .six::after{
    content: "Element 6";
    color: white;
    font-weight: bold;
    position: absolute;
    left: 36%;
    top: 45%;
  }
  hr{
    border: black solid 5px;
    margin: 20px 0px;
  }
  .task-2 .layout{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10 , 1fr);
    grid-template-areas: "head head head head head head head head head head"
                         "sec sec sec sec sec sec sec sec as as"
                         "foot foot foot foot foot foot foot foot foot foot";
    grid-template-rows: 8% 84% 8% ;
  }
  header{
    grid-area: head;
    background-color: #03A9F4;
    position: relative;
  }
  section{
    grid-area: sec;
    background-color: #FF5722;
    position: relative;
  }
  aside{
    grid-area: as;
    background-color: #607D8B;
    position: relative;
  }
  footer{
    grid-area: foot;
    background-color: #009688;
    position: relative;
  }
  header::after{
    content: "header";
    color: white;
    position: absolute;
    left: 2%;
    top: 20.18px;
  }
  section::after{
    content: "section";
    color: white;
    position: absolute;
    left: 2%;
    top: 2%;
  }
  aside::after{
    content: "aside";
    color: white;
    position: absolute;
    left: 5%;
    top: 2%;
  }
  footer::after{
    content: "footer";
    color: white;
    position: absolute;
    left: 2%;
    top: 20.18px;
  }
.task-3 .grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: auto;
  display: grid;
  grid-template-columns: auto repeat(2 , 1fr) auto;
  grid-template-rows: 1fr auto;
  column-gap: 10%;
  row-gap: 10%;
}
.task-3 .grid div{
  background-color: #403F3F;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}
.task-4 .grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5 , auto);
  grid-template-rows: repeat(6 , 50px);
  column-gap: 10px;
  row-gap: 10px;
}
.task-4 .grid div{
  background-color: #2196F3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}
.task-4 .grid .one{
  order: 2;
  grid-column: 5 span;
}
.task-4 .grid .two{
  grid-column: 3 span;
}
.task-4 .grid .three{
  grid-column: 2 span;
}
.task-4 .grid .four,.task-4 .grid .six ,.task-4 .grid .seven{
  grid-column: 1 span;
}
.task-4 .grid .five{
  grid-column: 4 span;
  grid-row: 3 span;

}
.task-4 .grid .eight{
  order: -6;
  grid-column: 5 span;
}
.task-5 .grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2 , auto);
  column-gap: 2%;
  align-content: space-between;
}
.task-5 .grid div{
  background-color: #E91E63;
  color: white;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}
.task-6 .grid{
  background-color: #EEEEEE;
    width: 1179px;
    padding: 20px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    column-gap: 15px;
    row-gap: 15px;
}
.task-6 .grid div{
  border-bottom: #FF3D00 solid 3px;
  padding: 10px;
}
.task-6 .grid div .descreption{
  color: rgb(145 145 145 / 75%);
}
.task-6 .grid .one{
  grid-column: 4 span;
  grid-row: 2 span;
  background-color: white;
}
.task-6 .grid .two{
  grid-column: 2 span;
  grid-row: 2 span;
  background-color: white;
}
.task-6 .grid .three{
  grid-column: 2 span;
  grid-row: 6 span;
  background-color: black;
  color: white;
}
.task-6 .grid .four{
  grid-column: 2 span;
  grid-row: 4 span;
  background-color: rgb(255, 255, 255);
}
.task-6 .grid .five,
.task-6 .grid .six{
  grid-column: 4 span;
  grid-row: 2 span;
  background-color: white;
}
.task-6 .grid .seven,
.task-6 .grid .eight,
.task-6 .grid .nine,
.task-6 .grid .ten{
  grid-column: 2 span;
  grid-row: 2 span;
  background-color: white;
}
/* .task-6 .grid .eight{
  grid-column: 2 span;
  grid-row: 2 span;
  background-color: white;
}
.task-6 .grid .nine{
  grid-column: 2 span;
  background-color: white;
}
.task-6 .grid .ten{
  grid-column: 2 span;
  background-color: white;
} */

/*  */