<%- include("partials/header") %>
        <div id="root"></div>
        <div class="row">
            <form action="exam1" method="post" class="col-12 next">
                <input type="hidden" id="val" value="0" name="deg">
                <button type="submit" class="btn btn-primary "> Next </button>
            </form>
        </div>

    <%- include("partials/footer") %>